- Dravencms\AdminModule\Components\FileDownload\DownloadGrid\DownloadGridFactory
- Dravencms\AdminModule\Components\FileDownload\DownloadForm\DownloadFormFactory
- Dravencms\AdminModule\Components\FileDownload\DownloadFileGrid\DownloadFileGridFactory
- Dravencms\AdminModule\Components\FileDownload\DownloadFileForm\DownloadFileFormFactory