- Dravencms\AdminModule\Components\File\DownloadGrid\DownloadGridFactory
- Dravencms\AdminModule\Components\File\DownloadForm\DownloadFormFactory
- Dravencms\AdminModule\Components\File\DownloadFileGrid\DownloadFileGridFactory
- Dravencms\AdminModule\Components\File\DownloadFileForm\DownloadFileFormFactory