- Dravencms\Model\FileDownload\Repository\DownloadRepository
- Dravencms\Model\FileDownload\Repository\DownloadFileRepository
- Dravencms\Model\FileDownload\Repository\DownloadTranslationRepository
- Dravencms\Model\FileDownload\Repository\DownloadFileTranslationRepository

- Dravencms\Model\FileDownload\Fixtures\AclOperationFixtures
- Dravencms\Model\FileDownload\Fixtures\AdminMenuFixtures