- Dravencms\Model\FileDownload\Repository\DownloadRepository
- Dravencms\Model\FileDownload\Repository\DownloadFileRepository

- Dravencms\Model\FileDownload\Fixtures\AclOperationFixtures
- Dravencms\Model\FileDownload\Fixtures\AdminMenuFixtures